<title>Hackify</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="https://bootswatch.com/united/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style type="text/css">
	img {
		margin-left: 20%;
		margin-top: 10%;
		height: 150px;
	}
	.navbar {
		border-radius: 0;
	}
	.jumbotron {
		background: rgba(238,238,238, .65);
		margin-bottom: 80px;
	}
</style>